*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Times New Roman', Times, serif;
}

button{
  cursor: pointer;
  background-color: #f4ce14;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px 25px;
  transition: .3s;
}

button:hover{
  background-color: #bb9e0f;
  transition: .3s;
}

a{
  transition: .3s;
}

a:hover{
  color: rgb(0, 60, 255);
  padding: 0 20px;
  text-decoration: underline;
  transition: .3s;
}

/* NAVIGATION BAR */

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

nav li{
  display: inline;
  margin-left: 20px;
}

nav li a{
  text-decoration: none;
  color: black;
}

.logo{
  margin-right: 50px;
}

/* HERO SECTION */

.heading-text{
  max-width: 250px;
  margin-right: 200px;
}

.heading-text p{
  margin-top: 10px;
  font-weight: normal;
}

.heading-text h1{
  color: #c3a510;
  font-size: 32px;
}

.heading-text h2{
  font-weight: normal;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #495e57;
  color: white;
  padding: 20px;
  max-height: 250px;
}

.hero img{
  align-items: center;
  border-radius: 15px;
  width: 300px;
  height: 350px;
}

/* Specials Section */
section.specials{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  gap: 100px;
}

.specials.specials-header{
  font-size: 48px;
}

.specials-grid{
  display: grid;
  margin: 0 400px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

/* Specials Card Section */
.special-card{
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.image-wrapper{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease;
}

.special-card:hover .card-image{
  transform: scale(1.05);
}

.card-content{
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-header h3 {
  font-size: 1.8em;
}

.card-header .price {
  color: orange;
  font-weight: bold;
  font-size: 1.1em;
}

.card-content .description {
  font-size: 0.95em;
  margin-bottom: 1.5em;
  flex-grow: 1; /* Pushes the order link to the bottom */
}

.order-link {
  color: var(--highlight-black);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.order-link:hover {
  color: green;
}

/* Footer Section */

.footer{
  margin: 50px 0 0 0;
  background-color: #495e57;
  min-height: 100px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .logo{
    margin: 15px 0;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 15px auto;
  }

  nav li{
    margin: 0;
  }

  nav a:hover{
    padding: 0;
  }
}